@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-thumb {
  background: rgb(169, 169, 170);
}
::-webkit-scrollbar-track {
  display: none;
}
